extends layout

block layout-content
  div.View
    h1.Banner JDRssDownloader #{version}
    body
      div.Message
        h2 Number of Tracked Shows
        h3 #{showListLength}
        h2 Last Downloaded
        h3 #{lastDownloaded}             
      div.Message
        h2 
          a(href='/feedCache') RSS Feed Cache Size 
        h3 #{feedCacheLength}
        h2
          a(href='/retryCache') Retry Cache Size
        h3 #{retryCacheLength}
        h2 Next RSS Refresh
        h3 #{rssTime}
        h2 Next Link Check
        h3 #{linkCheck}   
    div.NavButtons
      a(href="/shows")
          div.NavButton Show List
      a(href="/shows/add")
          div.NavButton Add New Show
      a(href="/shows/edit")
          div.NavButton Edit Show          
      a(href="/shows/remove")
          div.NavButton Remove Show
      a(href="/logFile")
          div.NavButton Logs